  body {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 1px;
  }

  .menu {
    background: grey;
    /*width: 100px;*/
    padding-top: 10px;
    /*flex: 0;*/  
    overflow-y: hidden;
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .list {
    min-width: 250px;
    height: 100%;
    float: left;
    margin-left: 5px;
    border: 1px solid #d0cece;
    margin-right: 5px;
    padding: 3px;
  }

  .config {
    /*flex: 0;*/
    height: 150px;
    background: #ecebeb;
    padding: 6px;
    margin: 4px;
  }

  .etherpad {
    border: 0px solid grey;
    flex: 1;
  }

  .status {
    border: 1px solid #e0dbdb;
    flex: 0;
    height: 24px;
    font-size: 10pt;
    padding: 2px;
    background: #f3f1f1;
  }

  .icon {
    color: white;
    font-family: Arial;
    width: 75px;
    height: 42px;
    padding: 5px;
    margin: auto;
    text-align: center;
    cursor: default;
    border: 1px solid grey;
  }

  .icon:hover {
    border: 1px solid #929292;
    background: #a09f9f;
  }  

  .button {
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color:#007dc1;
    border-radius:3px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
  }

  .button:hover {
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    background-color:#0061a7;
  }

  .button:active {
    position:relative;
    top:1px;
  }

  .scrim {
    padding: 0px;
    margin: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #cccccc;
  }

  .loading {
    width: 250px;
    height: 100px;
    border: 1px inset grey;
    background: white;
    overflow: hidden;
    padding: 5px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -50px; /* apply negative top and left margins to truly center the element */
  }

  .textable {
    border: 1px solid #d6d4d4;
    background: white;
    margin: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    width: 350px;
    max-height: 52px;
    min-height: 55px;
    resize: none;
    overflow: auto;
  }

  .textinputrow {
    flex: 1;
    padding: 2px;
  }

  .sessioninfo {
    height: 24px;
    margin: 0px;
    flex: 0;
  }

  .eberlybanner {
    /* margin: 27px; */
    margin-left: 27px;
    margin-top: 9px;
    padding: 2px;
    /* padding-top: 17px; */
    /* background: #565656; */
    writing-mode: vertical-rl;
    text-orientation: mixed;
    flex: 0;
    font-size: 24pt;
    color: #d8d7d7;
  }  

  .scriptrunner {
    width: 260px;
    outline: rgba(156, 161, 164, 0.27) outset 2px;
    outline-offset: 0px;
    background: rgb(241, 239, 239);
    display: flex;
    flex-direction: column;  
  }

  .playpanel {
    padding: 4px;
    flex: 0;
  }

  .separator {
    width: 252px;
    /* padding: 1px; */
    margin: auto;
    margin-top: 2px;
    flex: 0;
  }

  .tinput {
    display:block;
    width:100%;
    margin:10px 0;
    padding: 5px;

    background-color: #fafafa;
    border:0;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    transition: .3s box-shadow;
  }  

  .tinput:hover {
    box-shadow:0 0 4px rgba(0,0,0,0.5);
  }

  .scriptlist {
    min-width: 250px;
    min-height: 100px;
    border: 1px solid #d0cece;
    margin: 0px;
    padding: 0px;    
  }

  .actionlist {    
    min-height: 250px;
    border: inset 1px;
    background: #dedede;
    margin: 3px;
    overflow-y: scroll;
    overflow-x: hidden;    
    flex: 1;
  }

  .dropbtn {
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color:#007dc1;
    border-radius:3px;
    border:1px solid #124d77;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;

    background-color: #4CAF50;
    color: white;
    padding: 6px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 2px;    
    text-align: left;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    /*display: inline-block;*/
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    /*display: block;*/
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  .dropdown-arrowdown {
    float: right;
    position: absolute;
    top: 8px;
    right: 8px;
    color: #ffffff;
  }

  .actionfield {
    background: white;
    padding: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
    font: 400 13.3333px Arial;
    line-height: 18pt;
    height: 24px;
    box-shadow: 0 0 4px rgb(0 0 0 / 30%);
    transition: .3s box-shadow;
  }

  .actionitem {
    background: white;
    padding: 5px;
    margin: 4px;
    font-family: sans-serif;
    font-size: 9pt;
    border: 1px solid #bdbdbd;	
    cursor: grab;    
  }

  .actionitem:hover {
    background: gainsboro;
  }

  .deletebutton {
    float: right;
    cursor: pointer;
    font-weight: bold;
    padding-left: 4px;
    padding-right: 2px;
  }

  .deletebutton:hover {
    background: gainsboro;
  }


  .timestamp {
    float: right;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid #e2e1e1;
    cursor: text;
  }

  .timestamp-selected {
    float: right;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid #e2e1e1;
    cursor: text;    
  }

  #sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
  }
